* {
    box-sizing: border-box;
    margin: 0;
}

.flex-col {
    display: flex!important;
    flex-direction: column!important;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.page__wrapper {
    width: 100vw;
    height: 100vh;
    background: url(http://localhost:3000/images/background.png);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question__container {
    position: relative;
}

.footer__sign {
    font-family: $montserrat;
    font-weight: 500;
    margin-top: 32px;
    font-size: 14px;
    line-height: 17px;
    color: $offWhite;
}

.intro__wrapper {
    gap: 32px;
    padding: 64px;
    justify-content: center;
}

.gamepicker__btn {
    border: none;
    border-radius: 12px;
    background-color: $darkBlue;
    padding: 1rem 2rem;
    cursor: pointer;
}