.game__title {
    font-family: $poppins;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: $offWhite;
}

.card__img {
    position: absolute;
    top: -60px;
    left: 285px;
}

.card__title {
    font-family: $poppins;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: $darkBlue;
}

.card__flag {
    margin-top: 16px;
    max-width: 100%;
    width: 150px;
    border-radius: 4px;
    box-shadow: 0px 4px 24px 0px #0000001A;

}

.choices__wrapper {
    gap: 24px;
    margin-top: 32px;
}

.choice__item {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.choice__text {
    font-family: $poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    
}

.next__btn {
    background-color: $yellow;
    border: none;
    border-radius: 12px;
    padding: 1rem 2rem;
    margin-top: 32px;
    width: 100%;
    cursor: pointer;
}

.btn__text {
    font-family: $poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $white;
    
}

.correct__answer {
    background-color: $succeed;
    color: $offWhite;
}

.gameover__btn {
    border-radius: 12px;
    padding: 1rem 2rem;
    margin-top: 32px;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    border: solid 2px $darkBlue;
    

    &:hover {
        background-color: $yellow;
        border: solid 2px transparent;
        .nextbtn__text {
            color: $offWhite;
        }

    }
}

.nextbtn__text {
    font-family: $poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: $darkBlue;
    
}

.gameover__wrapper {
    display: flex !important;
    flex-direction: column;
    gap: 16px;
}

.gameover__title {
    font-family: $poppins;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: $grayBlue;
}

.gameover__text {
    font-family: $poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: $grayBlue;
    text-align: center;
}

.results__txt{
    font-family: $poppins;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: $succeed;
}
