.game__title {
    font-family: $poppins;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: $offWhite;
}

.card__img {
    position: absolute;
    top: -60px;
    left: 285px;
}

.card__title {
    font-family: $poppins;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: $darkBlue;
}

.card__flag {
    margin-top: 16px;
    max-width: 100%;
    width: 100px;
    border-radius: 4px;
}

.choices__wrapper {
    gap: 24px;
    margin-top: 32px;
}

.choice__order {
    font-family: $poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
}

.choice__text {
    font-family: $poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    
}

.next__btn {
    background-color: $yellow;
    border: none;
    border-radius: 12px;
    padding: 1rem 2rem;
    margin-top: 32px;
    width: 100%;
    cursor: pointer;
}

.btn__text {
    font-family: $poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $white;
    
}