@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.flex-col {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page__wrapper {
  width: 100vw;
  height: 100vh;
  background: url(http://localhost:3000/images/background.png);
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question__container {
  position: relative;
}

.footer__sign {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-top: 32px;
  font-size: 14px;
  line-height: 17px;
  color: #F2F2F2;
}

.intro__wrapper {
  gap: 32px;
  padding: 64px;
}

.gamepicker__btn {
  border: none;
  border-radius: 12px;
  background-color: #2F527B;
  padding: 1rem 2rem;
  cursor: pointer;
}

.game__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #F2F2F2;
}

.card__img {
  position: absolute;
  top: -60px;
  left: 285px;
}

.card__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #2F527B;
}

.card__flag {
  margin-top: 16px;
  max-width: 100%;
  width: 100px;
  border-radius: 4px;
}

.choices__wrapper {
  gap: 24px;
  margin-top: 32px;
}

.choice__order {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}

.choice__text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.next__btn {
  background-color: #F9A826;
  border: none;
  border-radius: 12px;
  padding: 1rem 2rem;
  margin-top: 32px;
  width: 100%;
  cursor: pointer;
}

.btn__text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}
