* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page__wrapper {
  width: 100vw;
  height: 100vh;
  background: url(http://localhost:3000/images/background.png);
  background-position: center;
}
